
.new-items {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 1em;
    margin: 2em 0;
}

.new-items p {
    color: hsl(233, 8%, 79%);
}
.new-items h2 {
    color: hsl(35, 77%, 62%);
}

.new-items ul {
    list-style: none;
    padding: 0;
}

.new-items li {
    margin: 1em 0;
}

hr {
    background-color: hsl(233, 8%, 79%);
}


