

.top-items {
    margin: 2em 0;
}

.top-items ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-items li {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.top-image {
    width: 50%;
}

.top-image img {
    width: 90%;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.top-content h1 {
    color: hsl(233, 8%, 79%);
}
